*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* background-color: rgb(6, 6, 100); */
header{
    border-bottom: 1px solid #E2E8F0;
    color: black;
}

header nav li{
    list-style: none;
}

header .nav-logo{
    font-size: 1.6rem;
}

a{    
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 4rem;
}

.nav-link{
    font-size: 1.15rem;
    font-weight: 500;
    color: black;
}

.nav-link:hover{
    text-decoration: underline;
    color:rgb(6, 6, 128);
}

.nav-logo{
    font-size: 1.4rem;
    color: black;
}

.nav-logo:hover{
    color: rgb(6, 6, 128);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.blog-topics{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 5%;
    font-size: 1.19rem;
}

.blog-topics a{
    color: rgb(4, 4, 41);
}

.blog-topics a:hover{
    /* color: orangered; */
    text-decoration: underline;
    text-decoration-line: underline;
}

.landing {
    display: flex;
    background-color: rgb(3, 3, 85);
    /* flex-wrap: wrap; */
    height: auto;
    padding: 3% 5%;
}

.landing .image{
    width: 200%;
}

.landing .image img{
    max-width: 100%;
    border-radius: 50%;
}


.landing .intro-info{
    padding: 5% 3% 5%;
    font-size: 1.45rem;
    color: white;
    justify-content: space-around;
}
.landing h1{
    padding-bottom: 5%;
}

.services-container h1{
    text-align: center;
    padding: 4% 0% 1%;
    font-size: 2.8rem;
}

.services{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7%;
    /* text-align: center; */
    width: auto;
    align-items: start;
}

.services-item{
    max-width: 400px;
    font-size: 1.3rem;
    margin: 2% 4%;
}

.services-item h2{
    text-align: center;
    padding: 8% 0% 8% 0%;
}

.services .ppm{
    max-width: 800px;
}










footer{
    background-color: rgb(3, 3, 85);
    /* height: auto; */
    color: white;
    width: 100%;
    padding-top: 5%;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2% 5%;
    margin-bottom: 4%;
    align-items: center;
    border-bottom: 2px solid white;
    width: 80%;
    margin: auto;
}

.footer-nav ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-nav-item{
    max-width: 500px;
    font-size: 1.2rem;
}

.footer-nav-item li{
    list-style: none;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

.footer-items p{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.23rem;
}

.footer-items{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 8%;
}

.footer-item{
    max-width:400px;
    margin: 50px;
}

.footer-copyright{
    background-color: rgb(2, 2, 51);
    padding: 20px;
}


