*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: azure;
}

/* background-color: rgb(6, 6, 100); */
header{
    border-bottom: 1px solid #E2E8F0;
    color: black;
}

header nav li{
    list-style: none;
}

header .nav-logo{
    font-size: 1.6rem;
}

a{    
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 4rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.nav-link:hover{
    text-decoration: underline;
    color:rgb(6, 6, 128);
}

.nav-logo{
    font-size: 1.4rem;
    color: black;
}

.nav-logo:hover{
    color: rgb(6, 6, 128);
}

/* Mobile menu icon */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* Blog-topics */

.topics-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    /* background-color: brown; */
}

.topics-container .topics-header{
    width: 80%;
    padding: 10px;
    border-bottom: 2px solid rgb(27, 27, 139);
    margin: auto;
}

.topics-container ul{
    display: flex;
    font-size: 1.2rem;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding-top: 4px;
}

.topics-container li{
    padding: 2px;
}

.topics-container ul li{
    list-style: none;
}

.topics-container ul li a{
    color: rgb(4, 4, 41);
    padding: 0px 14px;
}

.topics-container a:hover, .current{
    text-decoration: underline;
}


/* The Landing Section */

.landing{
    display: flex;
    justify-content: center;
    padding: 3% 5%;
    background-color: rgb(3, 3, 85);
    /* background-color: rgb(1, 1, 27); */
}
.land-container {
    display: flex;
    height: auto;
    max-width: 1000px;
}

/* .landing .image{
    width: 100%;
} */

.landing .image img{
    max-width: 280px;
    border-radius: 50%;
    margin-right: 0;
}


.landing .intro-info{
    padding: 3% 3% 5%;
    font-size: 1.85rem;
    color: white;
    justify-content: space-around;
}
.landing h1{
    padding-bottom: 5%;
    font-size: 1.8rem;
}

.landing #like{
    font-size: 1.4rem;
    padding-top: 30px;
}


/* Landing Buttons */
.landing #me{
    font-size: 16px;
    padding: 10px 10px;
    margin-top: 10%;
    border: none;
    border-radius: 4px;    
    background-color: rgb(7, 7, 182);
    color: whitesmoke;
}

.landing #blog{
    font-size: 16px;
    padding: 10px 10px;
    margin-top: 14%;
    border: none;
    border-radius: 4px;
    color: rgb(3, 3, 85);
}

.land-container #me:hover, #blog:hover{
    background-color: orange;
}

/* Socials */
.socials{
    margin-top: 4%;
    /* width: 70%; */
    display: flex;
    justify-content: space-around;
}

.socials .fa{
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-style: none;
    border-radius: 50%;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #171515;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* Services Section */

.services-container h1{
    text-align: center;
    padding: 4% 0% 1%;
    font-size: 2.8rem;
}

.services{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7%;
    /* text-align: center; */
    width: auto;
    align-items: start;
}

.services-item{
    max-width: 400px;
    font-size: 1.3rem;
    margin: 2% 4%;
}

.services-item h2{
    text-align: center;
    padding: 8% 0% 8% 0%;
}

.services-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}


.services .ppm{
    max-width: 800px;
}

.services-container p{
    text-align: center;
}

.service-buttons{
    color: white;
    cursor: pointer;
}

.info-button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80px;
    color: white;
}

.info-button .service-buttons{
    background-color: rgb(7, 7, 182);
    display: inline-block;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 5px;
    border: none;
}

.info-button a{
    color: rgb(236, 233, 233);
}

.info-button .service-buttons:hover{
    background-color: orange;
}


/* The Footer Section */

footer{
    background-color: rgb(3, 3, 85);
    /* height: auto; */
    color: white;
    width: 100%;
    padding-top: 5%;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2% 5%;
    margin-bottom: 4%;
    align-items: center;
    border-bottom: 2px solid white;
    width: 80%;
    margin: auto;
}

.footer-nav ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-nav-item{
    max-width: 500px;
    font-size: 1.2rem;
}

.footer-nav-item li{
    list-style: none;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
}

.footer-items p{
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.23rem;
}

.footer-items{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 8%;
}

.footer-item{
    max-width:400px;
    margin: 50px;
}

.footer-copyright{
    background-color: rgb(2, 2, 51);
    padding: 20px;
}


