/* Media Queries */

@media screen and (max-width: 1170px) {
    .landing{
        padding: 4% 5%;
    }
    .landing .intro-info{
        font-size: 1.4rem;
        padding: 3% 3% 5%;
    }
    .landing h1{
        padding-bottom: 3.5%;
    }
    

}

@media screen and (max-width: 1160px) {
    .landing{
        padding: 4% 5%;
    }
    .landing .intro-info{
        font-size: 1.38rem;
    }
    
}

@media screen and (max-width: 1000px) {
    .landing .intro-info{
        font-size: 1.33rem;
        padding: 1.4% 3% 3%;
    }
    .landing h1{
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 920px) {
    .landing .intro-info{
        font-size: 1.23rem;
        padding: 1.4% 3% 3%;
    }
    .landing h1{
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 880px) {

    header .nav-item{
        margin-left: 2.8rem;
    }

    header .nav-logo{
        font-size: 1.5rem;
    }

    .landing .intro-info{
        font-size: 1.2rem;
        padding: 1.4% 3% 3%;
    }
    .landing h1{
        padding-bottom: 2%;
    }
    .footer-nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 40px;
    }

    .footer-nav-item li{
        list-style: none;
    }
}


@media screen and (max-width: 760px) {

    header .nav-logo{
        font-size: 1.4rem;
    }

    header .nav-menu{
        position: fixed;
        left: -100%;
        flex-direction: column;
        top: 3.7rem;
        background-color: #fff;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        transition: 0.4s;        
        box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.05);
    }

    header .nav-menu.active{
        left: 0;
    }

    header .nav-item{
        margin: 2rem 0;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    .landing .intro-info{
        font-size: 1.08rem;
        padding: 1.4% 3% 3%;
    }
    .landing h1{
        padding-bottom: 1.5%;
    }
}

@media screen and (max-width: 680px) {
    .landing{
        padding-top: 7%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .landing .image{
        margin: auto;
        width: 66%;
    }
    
    .landing .intro-info{
        margin-top: 2%;
        font-size: 1.28rem;
        padding: 1.4% 3% 10%;
    }




    /* Footer Responsiveness */
    footer .social{
        margin-bottom: 8%;
    }
    
    footer .footer-nav{
        display: flex;
        flex-direction: column;
    }

    .footer-nav .brand{
        display: flex;
    }

    .footer-nav ul{        
        margin-top: 5%;
        width: 80%;
        margin: auto;
    }

}

@media screen and (max-width: 380px) {
    .landing{
        padding-top: 7%;
        display: flex;
        flex-wrap: wrap;
    }

    .landing .image{
        margin: auto;
        width: 80%;
    }
    
    .landing .intro-info{
        font-size: 1.16rem;
        padding: 1.4% 3% 15%;
    }

    footer h2{
        font-size: 1.2rem;
    }
    .footer-nav-item{
        font-size: 1.08rem;
    }
    .footer-nav-item ul{
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 270px) {
    .landing .intro-info{
        font-size: 1.11rem;
    }

    .services-container div{
        font-size: 104%;
    }
    .services-container h1{
        font-size: 220%;
    }

    .footer-items p{
        font-size: 1.1rem;
    }

}
