
body{
    background-color: rgb(255, 255, 251);
}


/* Navigation */

.header nav{
    padding: 1rem 1.5rem;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* The Welcome Landing Section */

.welcome{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 28px;
    max-width: 1400px;
    margin: auto;
    /* background-color: rgb(4, 4, 133); */
    /* line-height: 30px; */
}

/* .welcome .creator{
    max-width: 300px;
} */

/* .welcome div:nth-child(2){
    display: flex;
    justify-content: flex-end;
} */

/* .welcome img{
    max-width: 50%;
    border-radius: 50%;
} */

.welcome h1{
    padding: 10px;
}

.welcome .intro-info {
    text-align: center;
    justify-items: center;
    /* color: white; */
    width: 100%;
}



/* Main Content on Homepage */


main section .main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin: auto;
    max-width: 1000px;
    padding-bottom: 48px;
}

/* main section .main:nth-child(1){
} */

main img{
    max-width: 90%;
    margin: auto;
    display: flex;
}

main section{
    margin: 2.8% 0;
}

main .section-index{
    margin-right: 4%;
}

main section h2{
    background-color: rgb(243, 243, 247);
    border-left: 3px solid rgb(27, 27, 139);
    margin-bottom: 2%;
    padding: 4px 4px;
    font-size: 40px;
    text-align: center;
    font-weight: 750;
    color: rgb(24, 22, 22);
}

main section .section-aside{
    padding-top: 14%;
}

main section .aside-title{
    padding: 8px 30px;
    background-color: rgb(243, 243, 247);
    border-left: 3px solid rgb(27, 27, 139);
    font-size: 1.3rem;
    margin-bottom: 1%;
}

main section ul li a{
    font-size: 1.18rem;
}


main section ul a{
    text-decoration: none;
    color: rgb(7, 7, 167);
}

main a:hover{
    text-decoration: underline;
}


/* main section .more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
} */

main .more{
    margin-top: 4%;
    margin-bottom: 5%;
    padding-bottom: 7%;
    background-color: rgb(250, 250, 255);
}

main .more .more-header{    
    font-size: 1.4rem;
    border-bottom: 3px solid rgb(27, 27, 139);
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 4% 0 1.6% 0;
}

main section .more-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 96%;
    margin: auto;
}

main section .more-items .more-item{
    margin: 2% 1% 1% 0%;
    background-color: white;
    max-width: 300px;
    padding: 2% 2% 2% 10px;
    border-radius: 6%;
    box-shadow: 1px;
}

main section .more img{
    max-width: 100%;
    /* margin: auto; */
}

main section .recom{
    font-size: 1.4rem;
    border-bottom: 3px solid rgb(27, 27, 139);
    text-align: center;
    width: 50%;
    margin: 4% auto 0;
}

main section .recom p{
    margin: 2% 0;
}

main section .more-item h3{
    font-weight: lighter;
    padding-bottom: 10px;
}



/* The Footer */

footer{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    background-color: rgb(10, 10, 99);
    color: white;
}

#footer-main{
    max-width: 1200px;
    margin-left: 5%;
}

footer .brand{
    display: flex;
    margin: 20px;
    padding: 0 0 20px 0;
}

#f-main{
    max-width: 460px;
    padding: 20px 10px;
}

footer #f-brand{
    font-size: 1.8rem;
    padding-bottom: 4px;
}

footer #mission{
    font-size: 1.8rem;
}

footer .brand ul{
    padding: 20px 0px;
    font-size: 16px;
}

footer .brand ul li{
    list-style: none;
    line-height: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

/* Topics */

footer #topics{
    max-width: 1000px;
    padding: 20px 0 40px;
    display: flex;
    flex-direction: column;
}

footer #topics ul{
    display: flex;
    font-size: 17px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    padding-top: 4px;
}

footer #topics li{
    padding: 4px 0;
    list-style: none;
}

footer #topics .topics-header{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid rgb(179, 179, 230);
    width: 80%;
    margin: auto;
}

footer #topics ul li a{
    padding: 0 16px 0 2px;
}

/* Copyright */

footer .copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 22px;
    flex-wrap: wrap;
    /* height: 40px; */
    background-color: rgb(2, 2, 51);
}

footer .copyright p:nth-child(1){
    padding: 10px 10px;
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
}

