
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    order: unset;
}

/* The Welcome Landing Section */

.landing{
    display: flex;
    align-items: center;
    padding: 28px;
    /* background-color: rgb(4, 4, 133); */
    /* line-height: 30px; */
}

.landing h1{
    padding: 10px;
}

.landing .intro-info {
    text-align: center;
    justify-items: center;
    /* color: white; */
    width: 100%;
}

/* Navigation */

.header nav{
    padding: 1rem 1.5rem;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home-page{
    height: 80vh;
}













/* Media Queries */

@media screen and (max-width: 800px) {

    /* .landing .intro-text{
        display: none;
    } */

    .landing .intro-header{
        font-size: 0.8rem;
    }

    .header nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: chartreuse;
        width: 80%;
        right: -100%;
        transition: ease-in-out .4s;
        top: 3.8rem;
        text-align: center;
        padding-bottom: 6%;
    }

    .header .home-navigation a{
        animation: ease-in-out 4s;
    }

    .header nav ul.active{
        right: 0;
        opacity: 1;
    }

    .header nav li{
        padding:30px 0;
    }

    .header nav .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 260px){
    .landing {
        display: none;
    }

    .header nav ul{
        width: 100%;
        top: 60px;
    }

}


