
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.landing{
    display: flex;
    align-items: center;
    padding: 28px;
    /* background-color: rgb(4, 4, 133); */
    /* line-height: 30px; */
}

.landing h1{
    padding: 10px;
}

.landing .intro-info {
    text-align: center;
    justify-items: center;
    /* color: white; */
    width: 100%;
}





